<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.jdbc.time_zone" ><![CDATA[${pulsar.database.timezone}]]></property>
        <mapping resource="/entities-mapping.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
